body{
  background-color: pink;
}
#headlines-section {
    margin: 20px;
    text-align: center;
    padding: 5px;
  }
  div{
  #headlines-list {
    text-align: center;
    padding: 30px;
    width: 150px;
    height: 100px;
    border: rgb(24, 23, 23);
  }

  
  }
  
  .headline-item {
    margin-bottom: 10px;
  }
  
  .headline-title {
    font-size: 18px;
    font-weight: bold;
  }
  
  .headline-source {
    font-size: 14px;
    color: #3018b5;
  }
  
  .headline-date {
    font-size: 12px;
    color: #0fda60;
  }
  